.anime-card {
    background-color: ;
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 45vw;
    margin-top: 50px;
    border: solid grey 4px;
}

.card-title{
    font-size: 22px;
    color: aliceblue;
}
.image-card{
    width: 200px;
    height: 300px;
    border: 8px;
}
.content div{
    margin-right: 10px;
}
.sinopse{
    color: aliceblue;
    font-size: 18px;
}
.genres{
    display: flex;
    justify-content: flex-end;
}
.studios{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 200px;
}

.studios div{
    margin-left: 10px;
}

.genres div {
    display: flex;
}
.studiosss {
    color: gray;
}