.genre-icon {
    height: 30px;
    border-radius: 18px;
    background-color: ;
    color: white;
    display: flex;
    padding-inline: 10px ;
    margin: 5px;
    align-items:center;
    border: solid grey 3px;
}